parameters:
	phpVersion: 80500
	level: 9
	treatPhpDocTypesAsCertain: false
	reportUnmatchedIgnoredErrors: false
	finalTraitMethod:
		testDirectories:
			- tests
	disallowedFunctionCalls:
		-
			function: 'var_export()'
			message: 'Use Serializer/Snapshot/VarExporter; native var_export leaks object props.'
	ignoreErrors:
		-
			# Static analysis != runtime, allow for runtime validation
			message: '# will always evaluate to #'
			path: *.php
		-
			# Defensive catches are not always dead at runtime
			message: '#Dead catch #'
			path: *.php
		-
			# Allow for discarding returns using (void) casts
			identifier: method.inVoidCast
			path: *.php

parametersSchema:
	finalTraitMethod: structure([
		testDirectories: listOf(string())
	])
	disallowedFunctionCalls: listOf(structure([
		function: string()
		?message: string()
	]))

rules:
	- Northrook\PHPStan\ClassRequiresMemberRule
	- Northrook\PHPStan\InterfaceRequiresMemberRule
	- Northrook\PHPStan\LooseAbstractMemberRule
	- Northrook\PHPStan\StaticClassRule
	- Northrook\PHPStan\SingletonClassRule
	- Northrook\PHPStan\DisallowsMethodRule

services:
	-
		class: Northrook\PHPStan\FinalTraitMethodRule
		arguments:
			testDirectories: %finalTraitMethod.testDirectories%
		tags:
			- phpstan.rules.rule
	-
		class: Northrook\PHPStan\DisallowedFunctionCallsRule
		arguments:
			disallowedFunctions: %disallowedFunctionCalls%
		tags:
			- phpstan.rules.rule
