parameters:
	phpVersion: 80400
	level: 9
	treatPhpDocTypesAsCertain: false
	finalTraitMethod:
		testDirectories:
			- tests
	ignoreErrors:
		-
			message: '# will always evaluate to #'
			path: *.php

parametersSchema:
	finalTraitMethod: structure([
		testDirectories: listOf(string())
	])

rules:
	- Northrook\PHPStan\ClassRequiresMemberRule
	- Northrook\PHPStan\InterfaceRequiresMemberRule
	- Northrook\PHPStan\LooseAbstractMemberRule
	- Northrook\PHPStan\StaticClassRule
	- Northrook\PHPStan\SingletonClassRule

services:
	-
		class: Northrook\PHPStan\FinalTraitMethodRule
		arguments:
			testDirectories: %finalTraitMethod.testDirectories%
		tags:
			- phpstan.rules.rule
