parameters:
	level: 9
	paths:
		- %currentWorkingDirectory%/src
		- %currentWorkingDirectory%/tests
	excludePaths:
		- %currentWorkingDirectory%/tests/Cases/**
		- %currentWorkingDirectory%/var/*
	treatPhpDocTypesAsCertain: false
rules:
	- Northrook\Dev\PHPStan\ClassRequiresMemberRule
	- Northrook\Dev\PHPStan\InterfaceRequiresMemberRule
	- Northrook\Dev\PHPStan\LooseAbstractMemberRule
